.container {
    border-radius: 20px;
    border-top: 5px solid #5F2FA2;
    background: #EFEAF6;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 480px;
    width: 520px;
    padding: 20px;
    margin: 15px 30px 15px 30px;
    display: inline-block;
    text-align: center;
    animation: scaleUp 2s forwards;

}

.mainheading {
    color: #562B93;
    font-family: Acme;
    font-weight: 400;
    font-size: 40px;
    text-decoration-line: underline;
    text-shadow: 5px 5px 12px #B59FD4;


}

.ancontainer {
    max-height: 340px;
    overflow: auto;
    margin: 20px;
}

.ancontent {
    animation: scrollAnimation 20s linear infinite alternate;
    animation-play-state: running;
}

.ancontainer:hover .ancontent {
    animation-play-state: paused;
}


.onentry {
    text-align: left;
    margin: 10px 0px 10px 0px;
    padding: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid #B59FD4;
    border-radius: 20px 20px 20px 20px;
    background: white;


}

.title {
    color: #562B93;
    font-family: Acme;
    font-weight: 400;
    font-size: 18px;


}

.desc {
    color: #562B93;
    font-size: 15px;
    font-family: Mulish;
    font-weight: 500;
    line-height: 20px;

}

@keyframes scrollAnimation {
    0% {
        transform: translateY(50%);

    }

    100% {
        transform: translateY(-50%);

    }
}
@media(max-width:540px){
    .mainheading{
       font-size:25px ;
    }
    .container{
        width:90%;
        padding: 5px;
        margin: 15px;

       
    }
    .onentry{
        margin: 20px 0 20px 0;
        padding: 5px;
    }
    .ancontent {
        animation: scrollAnimation 30s linear infinite alternate;
        
    }
   }
   @keyframes scaleUp {
    0% {
      transform: scale(0);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;

    }
  }

   