@import url('https://fonts.googleapis.com/css2?family=Acme&family=Inter:wght@300;400&family=Mulish:wght@300&family=Source+Serif+4&display=swap');
*{
    padding:0;
    margin: 0;
    border:border-box;
}
