.container {
    background:#E8E9F2;
    width:100%;
    margin-top: 140px;
    overflow: hidden;
}
.rwdSpon{
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}
.imgAnc{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
@media (max-width:910px) {
    
        .imgAnc{
            display: flex;
            flex-direction: column;
           justify-content: center;
        }
        .rwdSpon{
        
            display: flex;
            flex-direction: column;
            justify-content: center;
            
            }
    
}
@media(max-width:573px){
    .container {
        background:#E8E9F2;
    
        
        overflow: hidden;
    }
}